* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  background-image: radial-gradient(#8e97b6, #23467a);

}

 #timerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding-top: 30px;
    
  }

  #timerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 150px;
    height: 70px;
    background-color: white;
    border: 2px solid rgb(245, 68, 68);
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


h1 {
  font-size: 5.4rem;
  color: aqua;
  margin-bottom: 5rem;
  text-align: center;
}


h2 {
  font-size: 3.6rem;
  color: aqua;
  margin-bottom: 3rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


.choice-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  width: 100%;
  font-size: 25px;
  border-radius: 8px;
  background: linear-gradient(#faa405, #ffdc7d);
  transition: transform 150ms, background-color 150ms;
}


.choice-container:hover {
  cursor: pointer;
  background: linear-gradient(#f88c78, #ee3b05);
  transform: translateY(-0.1rem);
}


.choice-prefix {
  padding: 25px 50px;
  background-color: rgb(55, 117, 249);
  border-radius: 50%;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}


.choice-text {
  padding: 1.5rem;
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: left;
}
P{
font-size: 50px;
color: #fff;
}